@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.root {
  width: 90% !important;
  margin: auto;
}

.login {
  margin: auto;
  width: 50%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.login h1 small {
  font-weight: lighter;
  font-style: italic;
  font-size: 12px;
  margin-left: 10px;
}

.login > * {
  margin-bottom: 20px;
}

input,
textarea {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  color: #111;
  border: 1.8px solid rgb(79, 79, 79) !important;
}

input,
textarea:focus {
  outline: none;
}

.pending-order {
}

@media screen and (max-width: 800px) {
  .pending-order {
    display: flex;
    flex-direction: column;
  }
}

img {
  user-select: none;
  pointer-events: none !important;
}

button {
  color: white;

  padding: 10px 20px;
  font-size: 12px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #222 !important;
  background: linear-gradient(to left, #6b21a8, #111);
  transition: all 0.2s;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button.swal2-confirm {
  font-weight: bolder;
  text-transform: uppercase;
  border: none !important;
  border: 1px solid #222;
  background: linear-gradient(to left, #6b21a8, #111) !important;
}
.slogan {
  justify-content: center;
}

.payment-methods {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.crypto-icons {
  display: flex;

  flex-direction: row;
  align-items: center;
  gap: 5px;
}

label {
  opacity: 0.8;
}

.crypto-icons img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1000px) {
  .root {
    width: 90%;
    margin: auto;
  }

  .login {
    width: 100%;
    margin-top: 10px;
  }
  .order-form {
  }

  .order-controls {
    display: flex;
    flex-direction: column;
  }

  .order-controls > * {
    width: 100%;
    margin: 3px 0px !important;
  }

  .slogan {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-end;
    text-align: center;
  }
  .slogan > * {
    margin: 0px !important;
  }

  .slogan img {
    width: 240px !important;
    height: 240px !important;
  }

  .signup-action {
    display: flex;
    flex-direction: column;
  }
}

.slogan > * {
  margin: 60px;
}

body .black {
  color: white;
  background: #000;
}
html {
  color-scheme: dark;
}

body {
  color: white;
  background: #000;
}
button {
  color: #f5f5f5;
  font-weight: bolder;
  font-size: 24px;
}

input,
textarea {
  border: 1px solid #222;
  background-color: #000;
  color: white;
}

.swal2-popup {
  background-color: #000 !important;
  border: 1px solid #222 !important;
  color: #f5f5f5 !important;
}
