.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center !important;
}

.header button {
  margin: 0 0 !important;
}

.header span {
  background-color: #6b21a8;
  color: white;
  font-weight: bolder;
  padding: 5px;
  border-radius: 8px;
}

.checker {
  display: flex;
  flex-direction: column;
}

.warns div:not(:last-child) {
  margin-bottom: 10px;
}

.warns div {
  padding: 15px;
  color: black;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #222;
  border-left: 5px solid greenyellow;
}

.feed div {
  display: flex;
  flex-direction: column;
}

.feed div div {
  background-color: #111;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.root h2 {
  border-left: 5px solid #6b21a8;
  padding-left: 10px;
  border-radius: 5px;
  margin-top: 40px;
}

.lives div {
  font-weight: 600;
  background-color: greenyellow;
  color: #111;
}

.dies > div {
  font-weight: 600;
  background-color: #111;
  border: 1px solid #222;
  color: #f5f5f5;
}

.checker-status {
  display: flex;
  flex-direction: column;
}

.checker-status .lives {
  display: flex;
  flex-direction: column;
}

.checker-status > span {
  background-color: #111;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.checker-status > div > div {
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 20px;
}

.recharge {
  display: flex;
  flex-direction: column;
}

.recharge-desc {
  opacity: 0.5;
}
.recharge > * {
  margin-bottom: 20px;
}
.recharge-history {
  margin-bottom: 50px;
}
.recharge-history > div {
  display: flex;
  flex-direction: column;
}

h3 {
  color: white;
  font-weight: lighter;
  margin-bottom: 20px;
}

h3 div {
  margin-top: 5px;
}

table {
  overflow: hidden;
  border-collapse: collapse;
}

table td,
table th {
  background-color: #000;
  padding: 8px;
}

table tr:nth-child(even) {
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #111;
  color: white;
}

table th {
  border: none !important;
}
table td {
  padding: 10px 10px;
  border-bottom: 1px solid #111;
}

.recharge-redeem form {
  display: flex;
  flex-direction: column;
}

.recharge-redeem > form > * {
  margin-bottom: 20px;
}

.recharge-history .history {
  background-color: #111;
  border-radius: 8px;
  margin-bottom: 5px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.history {
  font-size: 18px;
}

.history small {
  font-size: 20px;
}
hr {
  opacity: 0.1;
  border: 0.1px solid !important;
}

.order-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.order-form .order-description {
  width: 80%;
  text-align: 80%;
}
.order-controls {
  display: flex;
  justify-content: center;
}

.order-controls > * {
  margin: 0 3px;
}
.addfunds-methods > :first-child {
  border-bottom: 1px solid #888;
  border-radius: 0 !important;
}
@media screen and (max-width: 600px) {
  .addfunds-methods {
    text-align: center;
  }
  .order-controls button {
    padding: 10px;
    font-size: 18px;
  }
  .order-form {
    overflow: visible;
    gap: 1.5px !important;
  }
}

.products-list {
  display: flex;
  flex-direction: column;
}

.products-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ReactModal__Content--after-open {
  border: 1px solid #222;
}

.products-list form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  border: 1px solid #222;
  background-color: #000;
  padding: 15px;
  border-radius: 8px;
}
.products-list form button {
  background-color: #6b21a8;
}

.account-details-component .card {
  background: linear-gradient(to left, #6b21a8, #111);
}

.account-details .mobile-logout {
  display: none;
}
.account-details .desktop-logout {
  display: block;
}

.menu-header {
  margin-bottom: 30px;
}

.menu-header button {
  background: linear-gradient(to left, #111, #222);
  padding: 5px 20px;
  opacity: 0.8;
  font-size: 15px;
  margin-right: 10px;
}

@media screen and (max-width: 1000px) {
  table td {
    font-size: 9px;
  }
  h3 {
    display: flex;
    flex-direction: column;
    margin-left: 0 !important;
  }
  h3 div {
    margin-left: 0 !important;
  }
  .menu-header button {
    margin-bottom: 10px;
  }
  .account-details .mobile-logout {
    display: block;
  }
  .account-details .desktop-logout {
    display: none;
  }

  .search {
    display: flex;
  }

  .search > input {
    width: 100%;
  }

  .search > * {
    margin-bottom: 10px;
  }

  .products-list form span {
    margin: 3px !important;
  }

  .products-list form {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;

    flex-direction: column;
    text-align: left !important;
    font-size: 12px;
  }
  .products-list {
  }

  .recharge-history .history {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .products-list div > *:not(:last-child) {
    margin-bottom: 20px;
  }
  h2 {
    display: flex;
    flex-direction: column;
  }
}
